<div class="container">

  <div class="jin-ui-block responsive-flex" style="margin-top:120px;">
    <div class="ui-block-title checkbox clicked row">
      <select id = 'boxcategory' name="category" class="selectpicker form-control col-sm-2 boxcheck">
         <option value="all">모든 소통상자</option>
         <option value='my'>내 소통상자</option>
         <option value="subscribe">구독 소통 상자</option>
      </select>
      <select id = 'boxlist' name="list" class="selectpicker form-control col-sm-2 boxcheck">
         <option value="newest">최신순</option>
         <option value="popularity">인기순</option>
      </select>
    </div>
  </div>


  <div class="photo-album-wrapper parentBox">

    <div class="photo-album-item-wrap col-4-width">
      <div class="photo-album-item create-album" data-mh="album-item">
        <div class="content">
          <a href="#" class="btn btn-control bg-primary jin-js-open-popup" data-popup-target=".make-box">
            <svg class="olymp-plus-icon"><use xlink:href="/static/icons/icons.svg#olymp-plus-icon"></use></svg>
          </a>

          <a href="#" class="title h5">Add More Photos...</a>
        </div>
      </div>
    </div>

    <% for(var i = 0 ; i < results.length ; i++){ %>
      <div class="photo-album-item-wrap col-4-width box">
        <div class="photo-album-item" data-mh="album-item">
          <div class="ui-block video-item">
              <div class="video-player boxlistimg" id = '<%= results[i].sb_no %>' >
                  <img src=<%= results[i].sb_img %> alt="photo">
              </div>

              <div class="ui-block-content video-content">
                  <a href="box/Inner/<%= results[i].sb_no %>" class="h6"><%= results[i].sb_name %></a>
                  <ul class="widget w-friend-pages-added notification-list friend-requests">
                      <span class="chat-message-item"><%= results[i].sb_open %></span>
                      <li class="inline-items">
                          <div class="author-thumb">
                              <img src="<%= results[i].m_img %>" alt="author" class="avatar" width="40px" height="40px">
                          </div>
                          <div class="notification-event">
                              <a href='/profile/<%= results[i].username %>' class="h6 notification-friend"><%= results[i].m_nickname %></a>
                              <span class="chat-message-item">레벨<%= results[i].m_level %></span>
                          </div>
                      </li>
                  </ul>
              </div>

              <div class="ui-block-content video-content">
                  <div class="comments-shared">
                      <a class="post-add-icon inline-items">
                          <i class="fa fa-file-text-o" aria-hidden="true"></i>
                          <span><%= results[i].cardnum %></span>
                      </a>

                      <a class="post-add-icon inline-items">
                          <i class="fa fa-smile-o" aria-hidden="true"></i>
                          <span><%= results[i].subscribenum %></span>
                      </a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    <% } %>

  </div>
</div>
<!-- Window-popup Create Friends Group -->

<form class="uploadForm" action="/box/newBox" method="post" enctype="multipart/form-data">
  <div class="ui-block window-popup make-box ">
    <a class="icon-close js-close-popup">
      <svg class="olymp-close-icon"><use xlink:href="/static/icons/icons.svg#olymp-close-icon"></use></svg>
    </a>

    <div class="ui-block-title bg-primary">
      <h6 class="align-center">소통상자 생성</h6>
    </div>
    <div class="form-group label-floating is-select newBox-ui-block-content">
      <div class="form-group label-floating is-empty">
        <label class="control-label">카테고리</label>
        <select name="category" class="selectpicker form-control">
			       <option value="1">융합교육</option>
			       <option value="2">코딩교육</option>
             <option value="3">웹디자인</option>
		    </select>
      </div>
    </div>
    <div class="newBox-ui-block-content">
      <div class="form-group label-floating is-empty">
        <label class="control-label">소통상자 제목</label>
        <input name="boxname" class="form-control" type="text" placeholder="">
        <span class="material-input"></span>
      </div>
    </div>
    <div class="ui-block-content">
      <span class="buttonWrap ui-block-content"><input type="file" name="userfile" id="userfile"></span>
      <div id="image_preview" style="display:none">
        <a href="#">사진 지우기</a>
        <br>
        <img src="#" width="399" />
        <br />
      </div>
      <hr>
      <div id="copy" name="copy">
      </div>
    </div>
    <div class="newBox-ui-block-title ui-block-title-small">
      <input id="randomImg" type="hidden" name="unsplash" value="">
      <h6 class="title">대표이지미 미 설정 시 Unsplash에서 임의로 지정됩니다.</h6>
    </div>
    <div class="ui-block-content">
      <h6 class="title">공개설정</h6>
      <div>
        <div class="">
          <div class="radio">
            <label>
									<input type="radio" name="optionsRadios" value="전체공개" checked="true">전체공개
						</label>
            <label>
									<input type="radio" name="optionsRadios" value="초대기반">초대기반
						</label>
            <label>
									<input type="radio" name="optionsRadios" value="비공개">비공개
						</label>
          </div>
        </div>
        <div class="row ui-block-content">
          <input type="submit" class="btn btn-primary btn-md full-width" value="소통상자 만들기" />
        </div>
      </div>
    </div>
  </div>
</form>
