<script type="text/javascript" src="/static/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<header class="header header-responsive" id="site-header-responsive">

  <div class="header-content-wrapper">
    <a href="#" class="link-find-friend">소통카드</a>
    <a href="#" class="link-find-friend">소통상자</a>
  </div>

  <!-- Tab panes -->

  <!-- ... end  Tab panes -->

</header>

<!-- ... end Responsive Header -->

<div class="header-spacer"></div>

<!-- Top Header -->

<!-- ... end Top Header -->

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="<%=result[0].sb_img%>" alt="nature" width="1920px" height="580px">
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col-md-8" style="padding-left: 50px;">
                <a href="#" class="h3 author-name"><%=result[0].sb_name%></a>
                <a href="#" class="h6"><i class="fa fa-cog" aria-hidden="true"></i></a>

                <div class="country"><%=result[0].sb_resiger%></div>
              </div>

              <div class="col-md-1 " style="font-size: 30px;">
                <i class="fa fa-file-text-o" aria-hidden="true" style=""> <%= result[0].cardnum %></i>
                <i class="fa fa-smile-o" aria-hidden="true"> <%= result[0].subscribenum %></i>
              </div>

              <div class="col-md-2 boxState" style="font-size: 55px;">
                <button class="btn btn-primary btn-md-2 sotong-join-btn stateValue jin-js-open-popup">상자 구독하기<div class="ripple-container" ></div></button>
                <input type = 'hidden' id = 'subscribe' value = '<%= check[0].subscribe %>' />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-xl-12">
      <div class="ui-block-title">
        <h6 class="title">최신피드</h6>
      </div>
    </div>

  </div>

  <div class="row">

    <% for(var i = 0 ; i < scresults.length ; i ++){ %>
      <div class="col-xl-6">
        <div class="ui-block video-item">

          <div class="video-player cardlistimg" id = '<%= scresults[i].sc_no %>'>
            <img src="<%= scresults[i].sc_thumbnail %>" alt="photo">
          </div>

          <div class="ui-block-content2 video-content">
            <a href="../cardInner/<%= scresults[i].sc_no %>" class="title author-name fn"><%= scresults[i].sc_title %></a>
            <time class="published"><%- scresults[i].sc_content %></time>

            <ul class="widget w-friend-pages-added notification-list friend-requests">
              <li class="inline-items">
                <div class="author-thumb">
                  <img src="/static/images/users/<%= scresults[i].m_img %>" alt="author" width="40px" height="40px">
                </div>
                <div class="notification-event">
                  <a href="#" class="h6 notification-friend"><%= scresults[i].m_nickname %></a>
                  <span class="chat-message-item">레벨<%= scresults[i].m_level %></span>
                </div>
              </li>
            </ul>

          </div>

          <div class="post-additional-info inline-items">

            <a href="#" class="post-add-icon inline-items">
              <svg class="olymp-add-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>

              <span><%= scresults[i].niceNum %></span>
            </a>

            <a href="#" class="post-add-icon inline-items">
              <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>

              <span><%= scresults[i].replynum %></span>
            </a>

          </div>

          <div class="control-block-button post-control-button">

            <a href="#" class="btn btn-control">
              <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
              <div class="ripple-container"></div>
            </a>

            <a href="#" class="btn btn-control">
              <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
            </a>

          </div>

        </div>
      </div>
    <% } %>

  </div>


  </div>

</div>

<!-- Window-popup Create Friends Group -->
<form  class = 'subscribe' action = './subscribe', method = 'post'>
  <input type = 'hidden' name = 'sb_no' value= <%= sb_no %> />
  <input type = 'hidden' name = 'sb_open' value = '<%= result[0].sb_open %>' />
</form>

<form class="uploadForm" action="/box/newCard" method="post">
  <div class="ui-block window-popup make-card ">
    <a class="icon-close js-close-popup">
      <svg class="olymp-close-icon"><use xlink:href="/static/icons/icons.svg#olymp-close-icon"></use></svg>
    </a>
    <div class="ui-block-title bg-primary">
      <h6 class="align-center" style="color:white;">소통카드 생성</h6>
    </div>
    <div class="newBox-ui-block-content">
      <div class="form-group label-floating is-empty">
        <label class="control-label">소통카드 제목</label>
        <input name="cardname" class="form-control" type="text" placeholder="">
        <span class="material-input"></span>
      </div>
    <input id="randomImg" type="hidden" name="unsplash" value="">
    <input type="hidden" name="sb_no" value="<%=sb_no%>">
    </div>
    <div class="ui-block" style="width:670px;height:300px;">
      <textarea class="ui-block" name="ir1" id="ir1" rows="14" cols="100"></textarea>
      <script type="text/javascript">
        var oEditors = [];
        nhn.husky.EZCreator.createInIFrame({
          oAppRef: oEditors,
          elPlaceHolder: "ir1",
          sSkinURI: "/static/se2/SmartEditor2Skin.html",
          fCreator: "createSEditor2"
        });
        function submitContents(elClickedObj) {
          oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
          try {
            elClickedObj.form.submit();
          } catch (e) {}
        }
      </script>
    </div>
    <div class="newBox-ui-block-content">
      <div class="form-group label-floating is-empty">
        <label class="control-label">태그 입력</label>
        <input name="keyword" class="form-control" id="keyword" type="text" placeholder="">
        <span class="material-input"></span>
      </div>
      <div class="form-group label-floating is-empty">
        <label class="control-label" style="font-size:4px">태그 목록</label>
        <input name="tag" class="form-control" id="tag" type=text readonly="readonly">
        <span class="material-input"></span>
      </div>
    </div>
    <div class="row ui-block-content">
      <input type="submit" class="btn btn-primary btn-md full-width" onclick="submitContents(this)" value="소통카드 만들기" />
    </div>
  </div>
</form>


<div class="ui-block window-popup create-photo-album search">
  <a href="" class="icon-close js-close-popup">
    <svg class="olymp-close-icon"><use xlink:href="/static/icons/icons.svg#olymp-close-icon"></use></svg>
  </a>

  <div class="ui-block-content">
    <div class="form-group with-button">
      <input class="form-control" placeholder="" value="" type="text">

      <button class="bg-grey">
                <i class="fa fa-search js-open-popup" data-popup-target=".search" aria-hidden="true" style="font-size: 18px;"></i>
            </button>

      <span class="material-input"></span></div>
  </div>
</div>

<div class="ui-block window-popup subscribe">
  <a class="icon-close js-close-popup">
    <svg class="olymp-close-icon"><use xlink:href="/static/icons/icons.svg#olymp-close-icon"></use></svg>
  </a>
  <div class="ui-block-title bg-primary">
    <h6 class="align-center" style="color:white;">소통카드 생성</h6>
  </div>

  <div class="ui-block" >
    <button class = 'btn btn-grey-lighter btn-lg'>시발시발 </button>
    <button class = 'btn btn-grey-lighter btn-lg'>폭풍폭풍 </button>
  </div>
  <div class="ui-block">
    <a class = 'h4 post__author-name fn'>박준완ㅋ</a> <a> X </a><br><br>
    <a class = 'h4 post__author-name fn'>준완이ㅋ</a> <a> X </a><br><br>
    <a class = 'h4 post__author-name fn'>파워ㅋㅋ</a> <a> X </a><br><br>
  </div>
</div>

<script src="/static/js/jquery-3.2.0.min.js"></script>
<script src="/static/js/wan/wan.js"></script>
<script src="/static/js/wan/subscribe.js"></script>
