<script type="text/javascript" src="/static/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<header class="header header-responsive" id="site-header-responsive">

  <div class="header-content-wrapper">
    <a href="#" class="link-find-friend">소통카드</a>
    <a href="#" class="link-find-friend">소통상자</a>
  </div>

  <!-- Tab panes -->

  <!-- ... end  Tab panes -->

</header>

<!-- ... end Responsive Header -->

<div class="header-spacer"></div>

<!-- Top Header -->

<!-- ... end Top Header -->

<div class="container">
  <div class="row">

    <div class="card-ui-block">

      <article class="hentry post">
        <div class="author-page author vcard inline-items more">
          <div class="author-thumb">
            <img alt="author" src="<%=scresult[0].m_img%>" class="avatar" width="50px" height="50px">
          </div>
          <a class="author-name fn">
            <div class="author-title" style="color: #515365;">
              <%= scresult[0].m_nickname %>
            </div>
            <span class="author-subtitle"><%= scresult[0].sc_register %></span>
          </a>

        </div>

        <hr/>

        <!-- 카드 제목 -->
        <div class="ui-block-content">
          <div class="form-group label-floating is-empty">
            <label class="profile_name"><%= scresult[0].sc_title %></label>
          </div>


          <!-- 카드 내용 -->
          <div class="ui-block-content">
            <h5><%- scresult[0].sc_content %></h5>
            <input type = 'hidden' id = 'sc_no' value = '<%= scresult[0].sc_no %>'/>
            <input type = 'hidden' id = 'm_no' value = '<%= user.m_no %>' />

            <!-- 카드 태그 -->
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <div class="form-group label-floating is-empty">
                  <% for(var i = 0 ; i < tag.length ; i++){ %>
                    #<%= tag[i].sc_ti_name %>
                  <% } %>
                </div>
              </div>
            </div>

          </div>

          <hr>

          <!--좋아요 ,댓글 , 공유 개수 -->
          <div class="post-additional-info inline-items">

            <ul class="friends-harmonic">
              <% for(var i = 0 ; i < nice.length ; i++){ if(i == 4) break%>
                <img alt = 'a' src="<%= nice[i].m_img %>" class="avatar" width="20px" height="20px">
              <% } %>
            </ul>
            <div class="names-people-likes">
              <a href="#">
                <%= nice[0].m_nickname %>
              </a>외 <br>
              <%= scresult[0].niceNum %>명이 좋아함
            </div>

            <div class="">
              <a href="#" class="post-add-icon inline-items">
                <svg class="olymp-comments-post-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use>
                </svg>
                <span id = 'replyNum'><%= replyNum[0].replyNum %></span>
              </a>

            </div>

            <div class="">
              <a href="#" class="post-add-icon inline-items">
            <svg class="olymp-share-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use>
            </svg>
            <span><%= scresult[0].shareNum %></span>
          </a>

            </div>

            <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>

          </div>


          <!-- 카드 댓글 -->
          <!-- li태그 하나당 댓글하나 -->
          <ul class="comments-list">
            <% for(var i = 0 ; i < reply.length; i++){ if(i==5) break;%>
            <li class = 'cardReplyList'>
              <div class="post__author author vcard inline-items">
                <img src="<%= reply[reply.length-(1+i)].m_img %>" alt="author">
                <div class="author-date">
                  <a class="h6 post_author-name fn" href="#"><%= reply[reply.length-(1+i)].m_nickname %></a>
                  <div class="post_date">
                    <time class="published" datetime="2017-06-14T18:00">
                      <%= reply[reply.length-(1+i)].sc_r_register %>
                    </time>
                  </div>
                </div>
              </div>
              <p><%= reply[reply.length-(1+i)].sc_r_content %></p>
              <div class="post-add-icon inline-items sc_reply" id = '<%= reply[reply.length-(1+i)].sc_r_no %>' >
                <svg class="olymp-heart-icon sc_r_nice"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                <span class = 'sc_r_niceNum'><%= reply[reply.length-(1+i)].niceNum %></span>
              </div>
            </li>
            <% } %>
          </ul>

          <div class="more-comments moreReplyList">댓글 5개 더 보기<span>▼</div>
          <input type = 'hidden' id = 'showReplyNum' value = 5 />
          <!-- 댓글등록 -->
          <div class = "comment-form inline-items">
            <div class="post__author author vcard inline-items">
              <img src="<%= user.m_img %>" alt="author">
            </div>
            <div class="form-group with-icon-right is-empty">
              <textarea class="form-control cardReplyContent"></textarea>
              <div class="add-options-message">
                <a href="#" class="js-open-popup options-message" data-popup-target=".update-header-photo">
                      <svg class="olymp-camera-icon">
                        <use xlink:href="#olymp-camera-icon"></use>
                      </svg>
                    </a>
              </div>
              <span class="material-input"></span>
              <span class="material-input"></span>
              <div>
                <input type="button" id = 'cardReplyRegister' value="댓글 등록" class="btn btn-primary btn-lg full-width">
              </div>
            </div>
          </div>
        </div>


        <!-- 옆에 붙어있는 2개 -->
        <div class="control-block-button post-control-button">
          <div class="btn btn-control cardComment" id = "nice">
            <svg class="olymp-like-post-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use>
            </svg>
          </div>
          <div class="btn btn-control cardComment" id = "share">
            <svg class="olymp-share-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use>
            </svg>
          </div>
        </div>
      </article>

    </div>

  </div>
</div>
