<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <title>chat</title>
  <link href="/static/css/semantic.min.css" rel="stylesheet">
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html {
      width: 100%;
      height: 100%;
    }

    p {
      margin-left: 8px;
      font-size: 10px;
    }

    body {
      width: 100%;
      height: 100%;
      color: #000;
      background: #ededed;
    }

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
    }

    #cardbox {
      width: 94%;
      height: 94%;
      padding-left: 0.4em;
      padding-right: 0.4em;
    }

    #iconImage {
      display: inline;
    }

    #titleText {
      font-size: 1.4em;
      font-weight: bold;
      color: #777;
    }

    #contentsText {
      color: #999;
    }

    #result {
      height: 14em;
      overflow: auto;
    }


    .discussion {
      list-style: none;
      background: #edf2f6;
      margin: 0;
      padding: 0 0 50px 0;
    }

    .discussion li {
      padding: 0.5em;
      overflow: hidden;
      display: flex;
    }

    .discussion .avatar {
      width: 40px;
      position: relative;
    }

    .discussion .avatar img {
      display: block;
      width: 100%;
    }

    .other .avatar:after {
      content: "";
      position: absolute;
      margin-right: -13px;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }

    .self {
      justify-content: flex-end;
      align-items: flex-end;
    }

    .self .messages {
      order: 1;
      border-bottom-right-radius: 0;
    }

    .self .avatar {
      order: 2;
    }
    .jinNote{
      font-size: 8px;
    }

    .self .avatar:after {
      margin-left: -13px;
      margin-bottom: -0.5px;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    }

    .messages {
      margin-right: 13px;
      margin-left: 13px;
      background: white;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .messages p {
      font-size: 0.8em;
      margin: 0 0 0.2em 0;
    }

    .messages time {
      font-size: 0.7em;
      color: #ccc;
    }

    .messages time:link {
      text-decoration: none;
      font-size: 0.7em;
      color: #ccc;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap-reboot.css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="/static/css/blocks.css">
</head>

<body>
  <div class="ui segment" id="result" style="height:320px;background:#edf2f6;">
    <ol class="discussion" id="discussion">
      <%for(var i=0 ; i<rows.length; i++){
        var item = rows[i];
        var time = String(item.note_date);
        var date = time.substr(4,17);
        %>
        <%if(item.note_send == send_m_no){%>
          <li class="self" id="self">
            <div class="avatar">
              <img src="<%= send_m_img %>"></img>
              <p class="jinNote">
                <%=send_nickname%>
              </p>
            </div>
            <div class="messages">
              <p class="jinNote">
                <%=item.note_content%>
              </p>
              <time><%=date%></time>
            </div>
          </li>
          <%}else{%>
            <li class="other" id="other">
              <div class="avatar">
                <img src="<%=take_m_img%>" />
                <p class="jinNote">
                  <%=take_nickname%>
                </p>
              </div>
              <div class="messages">
                <p class="jinNote">
                  <%=item.note_content%>
                </p>
                <time><%-date%></time>
              </div>
            </li>
            <%}%>
              <%}%>
    </ol>
  </div>
  <form id="chat">
    <div class="form-group with-button is-empty">
      <input id="name" class="name" type="hidden" value="" readonly>
      <input id="take_nickname" type="hidden" value="<%= take_nickname %>">
      <input id="send_m_no" type="hidden" value="<%= send_m_no %>">
      <input id="take_m_no" type="hidden" value="<%= take_m_no %>">
      <input id="send_m_img" type="hidden" value="<%= send_m_img %>">
      <input id="take_m_img" type="hidden" value="<%= take_m_img %>">
      <input class="form-control message" id="message" type="text" style="background:white;" placeholder="Search Friends...">
      <button class="chat" id="ajax_chat" value="chat"></button>
    </div>
  </form>
  <div id="box" class="box">
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script>
      document.getElementById('result').scrollTop = document.getElementById('result').scrollHeight;
      var socket = io();
      $('#chat').on('submit', function(e) {

        var check = $('#discussion').children();

        if (check[0] == null) {
          socket.emit('first message', $('#send_m_no').val(), $('#message').val(), $('#take_m_no').val(), $('#name').val(), $('#take_nickname').val());
        } else {
          socket.emit('send message', $('#send_m_no').val(), $('#message').val(), $('#take_m_no').val(), $('#name').val(), $('#take_nickname').val());
        }

        $('#message').val("");
        e.preventDefault();
      });
      socket.on('receive message', function(content, name) {
        addToDiscussion(name, content);
        document.getElementById('result').scrollTop = document.getElementById('result').scrollHeight;
      });
      socket.on('change name', function(name) {
        $('#name').val(name);
      });

      function addToDiscussion(name, msg) {

        var date = Date();
        var time = date.substr(4, 17);

        if (name == "<%= send_nickname %>") {
          var img = '<%= send_m_img %>';
        } else {
          var img = '<%= take_m_img %>';
        }

        if (name == "<%= send_nickname %>") {
          var writer = "self";
        } else {
          var writer = "other";
        }

        var contents = "<li class='" + writer + "'>" +
          "  <div class='avatar'>" +
          "    <img src='" + img + "' /><p class='jinNote'>" + name + "</p>" +
          "  </div>" +
          "  <div class='messages'>" +
          "    <p>" + msg + "</p>" +
          "    <time datetime='2016-02-10 18:30'>" + time + "</time>" +
          "  </div>" +
          "</li>";
        $("#discussion").append(contents);
      }
    </script>
</body>

</html>
