<header class="header header-responsive" id="site-header-responsive">

  <div class="header-content-wrapper">
    <a href="#" class="link-find-friend">소통카드</a>
    <a href="#" class="link-find-friend">소통상자</a>
  </div>

  <!-- Tab panes -->

  <!-- ... end  Tab panes -->

</header>

<div class="header-spacer"></div>

<!-- ... end Responsive Header -->

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header top-header-favorit">
          <div class="top-header-thumb">
            <img src="/static/images/classImages/jquery.png" alt="nature" width="1368px" height="472px">
            <div class="top-header-author">
              <div class="author-thumb">
                <img src="<%=rows2[0].m_img%>" alt="author">
              </div>
              <div class="author-content">
                <a href="#" class="h3 author-name"><%=rows2[0].m_nickname%></a>
                <div class="country"><%=rows2[0].m_introduce%></div>
              </div>
            </div>
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 offset-md-0">
                <ul class="profile-menu">
                  <li>
                    <a href="/class/Inner/<%= rows[0].c_no%>" class="active">강좌 소개</a>
                  </li>
                  <li>
                    <a href="/class/Inner/<%= rows[0].c_no%>/courseList" class="active">강의 목차</a>
                  </li>
                  <li>
                    <a href="07-ProfilePage-Photos.html">강의 평가</a>
                  </li>
                  <li>
                    <a href="09-ProfilePage-Videos.html">Videos</a>
                  </li>
                  <li>
                    <a href="14-FavouritePage-Statistics.html">Statistics</a>
                  </li>
                  <li>
                    <a href="15-FavouritePage-Events.html">Events</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="control-block-button">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include(class_page) %>

<script src="/static/js/kim/star.js"></script>


<!-- Window-popup Create Friends Group -->
