<header class="header header-responsive" id="site-header-responsive">

  <div class="header-content-wrapper">
    <a href="#" class="link-find-friend">소통카드</a>
    <a href="#" class="link-find-friend">소통상자</a>
  </div>

  <!-- Tab panes -->

  <!-- ... end  Tab panes -->

</header>

<div class="header-spacer"></div>

<!-- ... end Responsive Header -->

<div class="container">
  <div class="jin-ui-block responsive-flex" style="margin-top:20px;">
    <div class="ui-block-title checkbox clicked row">
      <select id="classcategory" name="category" class="selectpicker form-control col-sm-2 classcheck">
         <option value="allclass">모든 클래스</option>
         <option value="myclass">내 클래스</option>
    </select>
      <select id="classlist" name="list" class="selectpicker form-control col-sm-2 classcheck">
         <option value="newclass">최신순</option>
         <option value="highstar">평점순</option>
    </select>

    </div>
  </div>

  <div class="row">


    <div class="col-xl-12">
      <h2 class="presentation-margin">클래스 목록</h2>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="friend-item friend-groups create-group" data-mh="friend-groups-item" style="height: 390px;">

        <a href="#" class="jin-js-open-popup full-block" data-popup-target=".create-friend-group-1"></a>
        <div class="content">

          <a href="#" class="jin-js-open-popup btn btn-control bg-blue" data-popup-target=".create-friend-group-1">
            <svg class="olymp-plus-icon"><use xlink:href="icons/icons.svg#olymp-plus-icon"></use></svg>
          </a>

          <div class="author-content">
            <a href="#" class="h5 author-name">클래스 생성</a>
            <div class="country">버튼을 눌러주세요</div>
          </div>

        </div>

      </div>

    </div>
    <div class="class_parents">
    </div>
    <% for(var i = 0 ; i < result.length ; i++){ %>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6 ajax_class">
        <div class="ui-block">
          <div class="friend-item fav-page">
            <div class="friend-header-thumb">
              <a href="/class/Inner/<%= result[i].c_no%>"><img src="<%=result[i].c_img%>" alt="friend" width="318px" height="122px"></a>
            </div>

            <div class="friend-item-content" style="height:320px;">

              <div class="more">
                <svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
                <ul class="more-dropdown">
                  <li>
                    <a href="#">Report Profile</a>
                  </li>
                  <li>
                    <a href="#">Block Profile</a>
                  </li>
                  <li>
                    <a href="#">Turn Off Notifications</a>
                  </li>
                </ul>
              </div>
              <div class="friend-avatar">
                <div class="author-thumb">
                  <img src="<%=result[i].m_img%>" alt="author" width="92px" height="92px">
                </div>
                <div class="author-content">
                  <a href="/class/Inner/<%= result[i].c_no%>" class="h5 author-name">
                    <%=result[i].c_title%>
                  </a>
                  <div class="country"></div>
                </div>
              </div>

              <div class="swiper-container">

                <div class="swiper-slide">
                  <div class="friend-count" data-swiper-parallax="-500">
                    <a href="#" class="friend-count-item">
                      <div class="h6">
                        <%=result[i].coursecount%>
                      </div>
                      <div class="title">강의 수</div>
                    </a>
                    <a href="#" class="friend-count-item">
                      <div class="h6">
                        <%=result[i].studentcount%>
                      </div>
                      <div class="title">수강생 수</div>
                    </a>
                    <a href="#" class="friend-count-item">
                      <div class="h6">
                        <%=result[i].replycount%>
                      </div>
                      <div class="title">수강평 수</div>
                    </a>
                  </div>

                  <div class="row">
                    <div class="col-xl-11 col-lg-6 col-md-6 col-sm-6 col-xs-6">

                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <p class="friend-about" data-swiper-parallax="-500">
                  </p>
                </div>
                <%if(result[i].replycount==0){%>
                  <p class="star_rating">
                    <a>★</a>
                    <a>★</a>
                    <a>★</a>
                    <a>★</a>
                    <a>★</a>
                  </p>
                  <%}else if(result[i].star==1){%>
                    <p class="star_rating">
                      <a class="on">★</a>
                      <a>★</a>
                      <a>★</a>
                      <a>★</a>
                      <a>★</a>
                    </p>
                    <%}else if(result[i].star==2){%>
                      <p class="star_rating">
                        <a class="on">★</a>
                        <a class="on">★</a>
                        <a>★</a>
                        <a>★</a>
                        <a>★</a>
                      </p>
                      <%}else if(result[i].star==3){%>
                        <p class="star_rating">
                          <a class="on">★</a>
                          <a class="on">★</a>
                          <a class="on">★</a>
                          <a>★</a>
                          <a>★</a>
                        </p>
                        <%}else if(result[i].star==4){%>
                          <p class="star_rating">
                            <a class="on">★</a>
                            <a class="on">★</a>
                            <a class="on">★</a>
                            <a class="on">★</a>
                            <a>★</a>
                          </p>
                          <%}else if(result[i].star==5){%>
                            <p class="star_rating">
                              <a class="on">★</a>
                              <a class="on">★</a>
                              <a class="on">★</a>
                              <a class="on">★</a>
                              <a class="on">★</a>
                            </p>
                            <%}%>

              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>


  </div>
</div>




<!-- Window-popup Create Friends Group -->
<form class="" action="/class/newClass" method="post" enctype="multipart/form-data">
  <div class="card-ui-block window-popup create-friend-group create-friend-group-1" style="width:500px;">
    <a href="" class="icon-close js-close-popup">
      <svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
    </a>
    <div class="ui-block-title">
      <h6 class="title">클래스 만들기</h6>
    </div>
    <div class="ui-block-content">
      <div class="form-group label-floating is-select ui-block-content">
        <div class="form-group label-floating is-empty">
          <label class="control-label">카테고리</label>
          <select name="cate_no" class="selectpicker form-control">
            <option value="1">융합교육</option>
            <option value="2">코딩교육</option>
            <option value="3">웹디자인</option>
            <option value="4">빅데이터</option>
            <option value="5">전자기계</option>
            <option value="6">우주공학</option>
            <option value="7">IoT</option>
            <option value="8">로봇/드론</option>
            <option value="9">3D프린팅</option>
                      </select>
        </div>
      </div>
      <label class="control-label">클래스 제목</label>
      <input type="text" class="form-control" placeholder="" name="c_title">

      <label class="control-label">클래스 소개</label>
      <textarea name="c_content" class="form-control" rows="8" cols="80"></textarea>

      <label class="control-label">대표이미지 설정</label>
      <div class="ui-block-content">
        <span class="buttonWrap ui-block-content"><input type="file" name="userfile" id="userfile"></span>
        <div id="image_preview" style="display:none">
          <a href="#">사진 지우기</a>
          <br>
          <img src="#" width="399" />
          <br />
        </div>
        <hr>
        <div id="copy" name="copy">
        </div>
      </div>
      <div class="newBox-ui-block-title ui-block-title-small">
        <input id="randomImg" type="hidden" name="unsplash" value="">
        <h6 class="title">대표이지미 미 설정 시 Unsplash에서 임의로 지정됩니다.</h6>
      </div>

      <label class="control-label">금액 / 미설정 시 무료로 판단합니다.</label>
      <input type="text" class="form-control" name="c_money" rows="8" cols="80"></input>

      <input type="submit" name="" class="btn btn-blue btn-lg full-width" value="클래스 만들기">
    </div>

  </div>
</form>
